#!/bin/bash
ANSIBLEUSER="{{ user | default('user') }}"
BRANCH="{{ branch | default('main') }}"
LOGFILE="/var/log/ansible.log"
REPO="https://github.com/lokraszewski/cli-ansible.git"
PRECMD="sudo systemd-inhibit --who='ansible-pull' --why='provisioning'"

# check if ansible-pull is already running, and if not, run it
if pgrep -f ansible-pull; then
    printf "\n$(date +"%Y-%m-%d %H:%M:%S") A running ansible-pull process was found.\nExiting.\n"\
        |tee -a $LOGFILE
    exit 1
else
    if [ ! $1 == "" ]; then
        $PRECMD sudo -iH -u $ANSIBLEUSER ansible-pull -U $REPO -C $BRANCH --tags $1 2>&1
    else
        $PRECMD sudo -iH -u $ANSIBLEUSER ansible-pull -o -U $REPO -C $BRANCH 2>&1
    fi
fi
